<div class="login-container" ng-controller="LoginCtrl">
	<div class="spacer">
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-12 heading">
			<p>Professional Confessions</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-12 description">
			<p>Share via LinkedIn</p>
		</div>
	</div>
	<div class="spacer2">
	</div>
	<div class="row linkedIn-button">
		<div class="col-xs-12 text-center">
			<button class="btn btn-primary" ng-click="signIn()">
				<img ng-src="/img/2.png" />
			</button>
		</div>
	</div>
</div>
